In [3]:
#Import dependencies
from path import Path
import pandas as pd
import numpy as np

In [4]:
#Read the file
data=Path('./Resources/loans.csv')
df=pd.read_csv(data)
df.head()

     assets  liabilities    income  credit_score  mortgage   status
0  0.210859     0.452865  0.281367      0.628039  0.302682     deny
1  0.395018     0.661153  0.330622      0.638439  0.502831  approve
2  0.291186     0.593432  0.438436      0.434863  0.315574  approve
3  0.458640     0.576156  0.744167      0.291324  0.394891  approve
4  0.463470     0.292414  0.489887      0.811384  0.566605  approve

In [5]:
#Split the data into X and y
y=df["status"]
X=df.drop(columns="status")

In [7]:
#Split our data into training and testing
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y,
                                                 random_state=1,
                                                 stratify=y)
X_train.shape

(75, 5)

In [9]:
#Import SVC from SVM
from sklearn.svm import SVC
model = SVC(kernel='linear')

In [10]:
#Train the data
model.fit(X_train, y_train)

SVC(kernel='linear')

In [11]:
#Predict outcomes for test dataset
y_pred=model.predict(X_test)
results=pd.DataFrame({"Prediction" : y_pred, "Actual" : y_test}).reset_index(drop=True)
results.head(20)

   Prediction   Actual
0     approve     deny
1        deny  approve
2        deny     deny
3     approve     deny
4        deny     deny
5     approve  approve
6     approve     deny
7     approve     deny
8        deny     deny
9     approve  approve
10       deny  approve
11       deny     deny
12       deny     deny
13    approve  approve
14       deny     deny
15    approve  approve
16    approve  approve
17    approve  approve
18       deny  approve
19    approve  approve

In [12]:
#Assess the accuracy of the model
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.6

In [13]:
#Generate a confusion-matrix and print the classification_report
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

     approve       0.58      0.58      0.58        12
        deny       0.62      0.62      0.62        13

    accuracy                           0.60        25
   macro avg       0.60      0.60      0.60        25
weighted avg       0.60      0.60      0.60        25